.scrollable_300px {
    max-height: 300px;
    overflow: scroll;
}

#id_parent_html {
    display: flex;
}

#id_header .nav-link {
    color: var(--bs-dark);
}

    #id_header .nav-link:hover,
    #id_header .navbar-brand:hover {
        color: #0a58ca;
        opacity: 1;
    }

#id_left_html, #id_right_html {
    width: 50%;
    max-height: 800px;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

#id_url_html {
    word-wrap: break-word;
    white-space: pre-wrap;
    max-height: 800px;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

body.bg_yellow {
    background-color: var(--yellow);
}

body.bg_white {
    background-color: var(--white);
}

body.bg_gray {
    background-color: var(--gray);
}

.bg_prelineIcon {
    background-color: #F4F4F4;
    margin-right: 8px;
}

.header_text {
    margin-top: 3rem;
    text-align: center;
    color: #1d4b7a;
    font-weight: bolder;
}

.scope_border {
    margin: 4rem 1rem 2rem;
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.box_shadow {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.font_weight_medium {
    font-weight: 500;
}

.font_weight_bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

h3, h5 {
    margin: 0 !important;
}

.animate {
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    -moz-animation: fadeIn ease-in 1;
    -webkit-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.uppercase {
    text-transform: uppercase;
}

/* 主內容區域樣式 */
.wrapper {
    display: flex;
}

.sidebar {
    position: fixed;
    left: -200px;
    top: 15%;
    bottom: 0;
    width: 200px;
    height: 600px;
    background-color: #f5f5f5;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    z-index: 9;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .sidebar ul li {
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: #333;
            }

.div_collapse_icon {
    width: 100%;
    padding: 10px;
}

.collapse-button {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /*background-color: #f5f5f5;*/
    border: none;
    border-radius: 0px 14px 14px 0px;
    box-shadow: inset -3px -6px 7px 0 rgb(0 0 0 / 12%);
    padding: 14px 10px 14px 8px;
    z-index: 999;
}

    .collapse-button i {
        transition: transform 1s;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
    }

.wrapper.collapsed .sidebar {
    left: -200px;
}

.wrapper .collapse-button {
    left: 200px;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
}

.wrapper.collapsed .collapse-button {
    left: 0px;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
}

    .wrapper.collapsed .collapse-button i {
        transform: rotate(180deg) translateX(-10px);
        -webkit-transform: rotate(180deg) translateX(-10px);
        -moz-transform: rotate(180deg) translateX(-10px);
    }

    .wrapper.collapsed .collapse-button:hover i {
        transform: rotate(180deg) translateX(0px);
        -webkit-transform: rotate(180deg) translateX(0px);
        -moz-transform: rotate(180deg) translateX(0px);
    }

.wrapper.collapsed .div_collapse_icon {
    width: 100%;
}

.wrapper.collapsed .collapse-button i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.wrapper:not(.collapsed) .sidebar {
    left: 0;
}

.wrapper:not(.collapsed) .div_collapse_icon {
    width: calc(100% - 200px);
}

.wrapper:not(.collapsed) .collapse-button i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.wrapper:not(.collapsed) .collapse-button:hover i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}


/* 過場動畫 */
#nav_switch {
    position: relative;
    animation: fade-in-out 10s ease-in-out;
    -webkit-animation: fade-in-out 10s ease-in-out;
    -moz-animation: fade-in-out 10s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
}


@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

#loading-icon {
    position: fixed;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    animation: move-down 2s ease-in-out 1;
    -webkit-animation: move-down 2s ease-in-out 1;
    -moz-animation: move-down 2s ease-in-out 1;
}

    #loading-icon.show {
        opacity: 1;
    }

@keyframes move-down {
    0% {
        opacity: 0.6; /* 起始透明度 */
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
    }

    30% {
        opacity: 0.3; /* 中間透明度 */
        transform: translate(3px, 4px) scale(1.1);
        -webkit-transform: translate(3px, 4px) scale(1.1);
        -moz-transform: translate(3px, 4px) scale(1.1);
    }

    50% {
        opacity: 0.2; /* 中間透明度 */
        transform: translate(6px, 7px) scale(1.2);
        -webkit-transform: translate(6px, 7px) scale(1.2);
        -moz-transform: translate(6px, 7px) scale(1.2);
    }

    70% {
        opacity: 0.1; /* 中間透明度 */
        transform: translate(10px, 10px) scale(1.3);
        -webkit-transform: translate(10px, 10px) scale(1.3);
        -moz-transform: translate(10px, 10px) scale(1.3);
    }

    100% {
        opacity: 0; /* 結束透明度 */
        transform: translate(12px, 12px) scale(1.35);
        -webkit-transform: translate(12px, 12px) scale(1.35);
        -moz-transform: translate(12px, 12px) scale(1.35);
    }
}

#loading-icon {
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

a:hover, button:hover {
    opacity: 0.8;
}
